[Unit]
Description=Ejecuta el respaldo de Red Chicken POS todas las noches

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
